<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\gd12\source\repos\railro.cs\railro.cs\Location.mdf;Integrated Security=True" />
    <add name="connectionRailo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\C#\Railro\RailoNailo\Railo_DB.mdf;Integrated Security=True" />
    <add name="RailoNailo.Properties.Settings.connectionRailo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\C#\Railro\RailoNailo\Railo_DB.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>